body {
  padding: 0;
  margin: 0;
  background-color: #fff;    
  font-family: 'Noto Sans', sans-serif;
  color: #666;
}

.loadinggif {
    position: fixed;
    top:20%;
    right:40%;
    width: 20%;
    text-align: center;
  
}
.loadinggif img {
    width: 320px;
}

html, body {
    height:100%;
    width:100%;
    margin:0;
    padding:0;
}
#hideMe {
    -moz-animation: cssAnimation 0s ease-in 10s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 10s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 10s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 10s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    height: 100%;
    width: 100%;
}
@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        visibility:hidden;
    }
}

#hero {
  height: 800px;
  overflow: hidden;
  position: relative;
}

#content {
  background-color: #fff;
}

.layer {
  background-position: bottom center;
  background-size: auto;
  background-repeat: no-repeat;
  width: 100%;
  height: 800px;
  position: fixed;
  z-index: -1;
}

#hero-mobile {
  display: none;
  background: url("/img/heroimg-clean.jpg") no-repeat center bottom/cover;
  height: 320px;
}

.first-section {
  padding: 50px 0 20px 0;
}

.text-header {
  font-size: 50px;
  text-align: center;
}

h1 {
  line-height: 120%;
  margin-bottom: 30px;
}
h2 {
  line-height: 80%;
  margin-bottom: 30px;
}

p {
  color: #2e2e2e;
  font-size: 18px;
  line-height: 150%;
}

#hero, .layer {
  min-height: 1080px;
}

.layer-bg {
  background-image: url("/img/mountain-bg-1.jpg");
}

.layer-1 {
  background-image: url("/img/mountain-bg-2.png");
/*  background-position: left bottom;*/
}

.layer-2 {
  background-image: url("/img/mountain-bg-3.png");
}

.layer-3 {
  background-image: url("/img/mountain-bg-4.png");
    top:0%;
/*  background-position: right bottom;*/
}

.layer-4 {
  background-image: url("/img/dreamlake-logo-black-full.png");
   top:-40%;
}

.layer-overlay {
  background-image: url("/img/mountain-bg-4.png");
}

@media only screen and (max-width: 768px) {
  #hero {
    display: none;
  }

  #hero-mobile {
    display: block;
  }
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.dl-button {
    color: #8fcb3c !important;
    text-decoration: none;
    border-color: #8fcb3c;
    border-radius: 50px!important;
    height: 100px;
    position: relative;
    padding: 0.3em 1em;
    border: 2px solid;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: transparent;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.7em !important;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

.dl-button:hover {
    color: rgba(255,255,255,0.99) !important;
    background: #8fcb3c !important;
    border-color: #8fcb3c !important;
}
.section-content {
    background-color: #fff;
    padding-left:  1%;
    padding-right: 1%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.button {
  display: inline-block;
  width: 174px;
  padding: 11px;
  cursor: pointer;
  background-color: #2fbfc2;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 30px;
  color: #fff;
  border: 0;
  border-radius: 6px;
  font-weight: bold;
  font-size: 16px;
  font-style: normal;
  text-align: center;
  user-select: none;
  z-index: 999;
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.3);
  -webkit-transition: background-color 0.35s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -moz-transition: background-color 0.35s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: background-color 0.35s cubic-bezier(0.785, 0.135, 0.15, 0.86); }
  .button:hover {
    background-color: #2aacaf; }

